<mat-sidenav-container class="example-container"  (click)="onContentClickSidenav()">
  <mat-sidenav #sidenav mode="side" opened>
    <!-- Contenido del sidenav aquí -->
    <mat-nav-list>
      <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
        <div class="logo-container">
          <button mat-button style="color:white"  class="" (click)="toggleCollapse()">
            <mat-icon style="margin-right:16px!important">view_headline</mat-icon>
          </button>
          <div class="logo-text" @fadeInOut *ngIf="collapsed"> IBM</div>

          <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        
        <ol class="sidenav-nav" >

          <li class="sidenav-nav-item">
            <a title="{{MUser?.nameUser +' '+ MUser?.surnameUser}}"  class="sidenav-nav-linkx"   >
              <mat-icon class="sidenav-linkx-icon" (mouseover)="toggleopen()">assignment_ind</mat-icon>
              <div>
              <span class="sidenav-linkx-text " @fadeInOut *ngIf="collapsed">{{MUser?.nameUser +' '+ MUser?.surnameUser}}</span>
              <br/>
              <span class="sidenav-linkx-text" style="font-size:smaller;" @fadeInOut *ngIf="collapsed">{{'('+MUser?.rolEntity?.nameRole+')' }}</span>
              
            </div>
            </a>
            
          </li>
          <hr style="color:white;width:100%;margin-bottom: 30px;"/>




          <li class="sidenav-nav-item" *ngFor="let data of Mmen" (click)="closeSidenav()">
            <a title="{{data.menuEntity.nameMenu}}" href="" class="sidenav-nav-link" [routerLink]="['/' + data.menuEntity.path]" routerLinkActive="active"  
              [routerLinkActiveOptions]="{exact: true}">
              <mat-icon matBadge="{{data.menuEntity.path.endsWith('aproveetime') && counterNotif>0 ? counterNotif:null}}" matBadgeColor="warn" class="sidenav-link-icon"  (mouseover)="toggleopen()">{{data.menuEntity.icon}}</mat-icon> 
              <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.menuEntity.nameMenu}}</span>
            </a>
          </li>
          <hr style="color:white;width:100%;margin-bottom: 30px;margin-top: 20px;"/>
          <li class="sidenav-nav-item">
            <a title="CERRAR SESIÓN" href="" class="sidenav-nav-link" (click)="cerrarSesion()" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
              <mat-icon class="sidenav-link-icon">power_settings_new</mat-icon>
              <span class="sidenav-link-text " @fadeInOut *ngIf="collapsed">CERRAR SESIÓN</span>
            </a>
          </li>
        </ol>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Contenido principal aquí -->
    <mat-toolbar color="#61677A" class="toolBar" style="overflow: hidden;height:45px ;border-color: #808388 !important; border-width:1px !important;border-bottom-style: solid !important;">
      <span style="color: #61677A;" ></span>
  
      <div>
        
      </div>
      <div fxFlex fxLayoutAlign="flex-end center">
  
        <button style="color: #45474B" *ngIf="EnableButton==true" class="CountryButton" mat-button>
          <mat-icon style="color: #0A6EBD">public</mat-icon> <span style="color: #45474B">{{paisSeleccionado}}</span>
        </button>
       

      </div>
    </mat-toolbar>
  </mat-sidenav-content>

</mat-sidenav-container>


