<div class="body">

    <div>
        <h1 style="color: #61677A; font-size: 2em;"><strong>Parámetros de Horas</strong></h1>
        <div class="div-em">
            <em>Realíza la configuración de los parámetros de horas. Haz clic en la opción de tu interes para obtener mas detalles</em>
            
        </div>
        <hr class="divider">
    </div>
    <br/>

        <!-- Tabs-->
    <div *ngIf="Approving" >

        <mat-tab-group *ngIf="Approving" (selectedTabChange)="onTabChanged($event)">
            <mat-tab>
                <ng-template mat-tab-label >
                    <mat-icon class="example-tab-icon">celebration</mat-icon>
                    Festividades
                </ng-template>
            </mat-tab>
    
            <mat-tab>
                <ng-template mat-tab-label >
                    <mat-icon class="example-tab-icon">more_time</mat-icon>
                    Overtime
                </ng-template>
            </mat-tab>
    
            <mat-tab>
                <ng-template mat-tab-label >
                    <mat-icon class="example-tab-icon">event_available</mat-icon>
                    Standby
                </ng-template>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label >
                    <mat-icon class="example-tab-icon">event_note</mat-icon>
                    Horarios
                </ng-template>
            </mat-tab>
        </mat-tab-group>

     <!--   <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <button class="button-options" (click)="botonPresionado = 'festividades'">
                        Festividades
                    </button>

                </td>
                <td>
                    <button class="button-options" (click)="botonPresionado = 'overtime'">
                        Overtime
                    </button>
                </td>
                <td>
                    <button class="button-options" (click)="botonPresionado = 'standby'">
                        Standby
                    </button>
                </td>
                <td>
                    <button class="button-options" (click)="botonPresionado = 'horarios'">
                        Horarios
                    </button>
                </td>
            </tr>
        </table> -->

        <!-- Seccion festividades-->
        <div *ngIf="botonPresionado === 'festividades'" style="margin-top: 10px; padding: 10px 5px;">

            <!-- Campos Formulario-->
            <div class="filters">
                <mat-form-field appearance="outline">
                    <mat-label>Pais</mat-label>
                    <mat-select [formControl]="pais" (selectionChange)="select(pais)" [(ngModel)]="this.MUser.countryEntityId" required>
                        <mat-option *ngFor="let cliente of MListCountry" [value]="cliente.idCounty">
                            {{cliente.nameCountry}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button  mat-raised-button color="primary" class="" (click)="openDialog()">Agregar Festivos<mat-icon>library_add</mat-icon></button>
            </div>
            <br>
            <em class="filter-text"><strong>Festivos Agregados:</strong></em>
             <hr class="filter-divider">

            <!-- Calendario y fechas festivos -->

            <div class="calendar-fest">

                <ng-container [ngSwitch]="agregarFestivos">
                    <div *ngSwitchCase="true" class="fest">
                        <div style="overflow: auto; max-height: 300x;">
                            <ul id="date-list" class="list-fest">
                                <li style="margin-top: 0px;margin-bottom: 5px; width: 80%; ;" *ngFor="let festivo of festivos">{{festivo}}
                                    <button class="delete-icon icon-grow-shadow" (click)="eliminarFestivo(festivo)">
                                        <mat-icon style="position: absolute;top: 5px;left:10px">remove_circle</mat-icon>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <ng-container *ngSwitchCase="false">
                        <div class="fest" *ngIf="MFestivosList.length; else noData">
                            <ul id="date-list" class="list-fest" style="display: flex; justify-content:start ; align-items: center; flex-direction: column;">
                                <li style="margin-top: 0px;margin-bottom: 5px; width: 90%;" *ngFor="let festivo of MFestivosList">
                                    {{festivo.diaFestivo | date:'yyyy-MM-dd'}}
                                    <button class="delete-icon icon-grow-shadow"  (click)="eliminarFestivoDB(festivo)">
                                        <mat-icon style="position: absolute;top: 5px;left:10px">remove_circle</mat-icon>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <ng-template #noData>
                            <div class="fest">
                                <ul id="date-list" class="list-fest">
                                    <li style="margin-top: 5px; width: 90%;">
                                        No Hay Festivos
                                    </li>
                                </ul>
                            </div>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </div>

            <hr class="filter-divider">
            <!-- Botones  parte inferior festividades-->
            <div class="buttons">
                <button mat-raised-button color="primary" class="" (click)="exportToExcel()" *ngIf="habilitarExcel">
                    Descargar Plantilla(CSV)
                    <mat-icon>
                        download
                    </mat-icon> 
                </button>
                <button  mat-raised-button color="primary" class="" (click)="cargarArchivo()" *ngIf="habilitarExcel">
                    Subir Plantilla
                    <mat-icon>
                        upload
                    </mat-icon> 
                </button>
                <input type="file" id="input-excel" style="display:none" accept=".xlsx, .xls" (change)="manejarArchivo($event)" />
                <button mat-raised-button color="primary" class="" (click)="falseAgregarFestivos()" *ngIf="agregarFestivos">
                    Guardar Cambios
                    <mat-icon>
                        save
                    </mat-icon> 
                </button>
            </div>
            
        </div>

        <!-- Seccion overtime -->
        <div *ngIf="botonPresionado === 'overtime'">

            <div class="filters">
                <mat-form-field style="text-align: left; margin-top: 10px; padding: 10px;"
                    appearance="outline">
                    <mat-label>Pais</mat-label>
                    <mat-select [formControl]="pais" (selectionChange)="select(pais)" [(ngModel)]="this.MUser.countryEntityId" required>
                        <mat-option [value]="pais.idCounty" *ngFor="let pais of MListCountry">
                            {{pais.nameCountry}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <br>
            <div class="field-form limites">
                <ng-container *ngIf="ListparametersOver.length; else noData">
                    <ng-container *ngFor="let item of ListparametersOver">
                        <div>
                            <mat-form-field
                                appearance="outline">
                                <mat-label> Limites legales diarios: </mat-label>
                                <input matInput type="number" placeholder="40" [formControl]="limitDay"
                                    [(ngModel)]="item.targetTimeDay" name="targetTimeDay">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field
                                appearance="outline">
                                <mat-label> Limites legales semanales: </mat-label>
                                <input matInput type="text" as-number decimalMarker=","  mask="separator.2" thousandSeparator="."  [formControl]="limitWeek" [(ngModel)]="item.targetHourWeek"
                                    name="targetHourWeek"  >
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field
                                appearance="outline">
                                <mat-label> Limites legales mensuales: </mat-label>
                                <input matInput type="text" as-number decimalMarker=","  mask="separator.2" thousandSeparator="." [formControl]="limitMonth" [(ngModel)]="item.targetHourMonth"
                                    name="targetHourMonth">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field
                                appearance="outline">
                                <mat-label> Limites legales anuales: </mat-label>
                                <input matInput type="text" as-number decimalMarker=","  mask="separator.2" thousandSeparator="." [formControl]="limitYear" [(ngModel)]="item.targetHourYear"
                                    name="targetHourYear">
                            </mat-form-field>
                        </div>
                    </ng-container><br>
                    <div style="text-align: right;">
                        <button mat-raised-button color="primary" class=""
                            (click)="updateParameters()">Actualizar<mat-icon>sync</mat-icon></button>
                    </div>
                </ng-container>
                <table>
                    <ng-template #noData>
                        <tr>
                            <td colspan="4">No se han registrado horas en este pais.</td>
                        </tr>
                        <div style="text-align: right; ">
                            <button mat-raised-button class="button-update" (click)="crearParametro()">Crear</button>
                        </div>
                    </ng-template>
                </table>



            </div>

        </div>

        <!-- Seccion standby -->
        <div *ngIf="botonPresionado === 'standby'">

            <div class="filters">
                <mat-form-field style="text-align: left; margin-top: 10px; padding: 10px;"
                    appearance="outline">
                    <mat-label>Pais</mat-label>
                    <mat-select [formControl]="pais" (selectionChange)="select(pais)" [(ngModel)]="this.MUser.countryEntityId" required>
                        <mat-option [value]="pais.idCounty" *ngFor="let pais of MListCountry">
                            {{pais.nameCountry}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="field-form limites">
                    <ng-container *ngIf="ListparametersStand.length; else noData">
                        <ng-container *ngFor="let item of ListparametersStand">
                            <div>
                                <mat-form-field style="text-align: left;"
                                    appearance="outline">
                                    <mat-label> Limites legales diarios: </mat-label>
                                    <input matInput type="number" placeholder="40" [formControl]="limitDay"
                                        [(ngModel)]="item.targetTimeDay" name="targetTimeDay">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field style="text-align: center;"
                                    appearance="outline">
                                    <mat-label> Limites legales semanales: </mat-label>
                                    <input matInput type="text" as-number decimalMarker=","  mask="separator.2" thousandSeparator="." [formControl]="limitWeek" [(ngModel)]="item.targetHourWeek"
                                        name="targetHourWeek">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field style="text-align: right;"
                                    appearance="outline">
                                    <mat-label> Limites legales mensuales: </mat-label>
                                    <input matInput type="text" as-number decimalMarker=","  mask="separator.2" thousandSeparator="." [formControl]="limitMonth" [(ngModel)]="item.targetHourMonth"
                                        name="targetHourMonth">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field style="text-align: right;"
                                    appearance="outline">
                                    <mat-label> Limites legales anuales: </mat-label>
                                    <input matInput type="text" as-number decimalMarker=","  mask="separator.2" thousandSeparator="." [formControl]="limitYear" [(ngModel)]="item.targetHourYear"
                                        name="targetHourYear">
                                </mat-form-field>
                            </div>
                        </ng-container>
                        <div style="text-align: right;">
                            <button mat-raised-button color="primary" class=""
                                (click)="updateParameters()">Actualizar<mat-icon>sync</mat-icon></button>
                        </div>
                    </ng-container>
                <table>
                    <ng-template #noData>
                        <tr>
                            <td colspan="4">No se han registrado horas en este pais.</td>
                        </tr>
                        <div style="text-align: right; ">
                            <button mat-raised-button color="primary" class="" (click)="crearParametro()">Crear</button>
                        </div>
                    </ng-template>
                </table>



            </div>

        </div>

        <!-- Seccion horarios -->
        <div *ngIf="botonPresionado === 'horarios'">

            <div class="filters">
                <mat-form-field style="text-align: left; margin-top: 10px; padding: 10px;"
                    appearance="outline">
                    <mat-select [formControl]="pais" (selectionChange)="select(pais)"  [(ngModel)]="this.MUser.countryEntityId" required>
                        <mat-option [value]="pais.idCounty" *ngFor="let pais of MListCountry">
                            {{pais.nameCountry}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="horarios">
                <fieldset class="table-h">

                    <legend>Turnos: </legend>

                    <mat-table [dataSource]="Datos" *ngIf="this.habilitarHorario && this.habilitarHorariobyFecha  && !this.agregarHorariosexcel" #tabla1>

                        <!-- Dias -->
                        <ng-container matColumnDef="dias">
                            <mat-cell *matCellDef="let element"> {{element.day}} </mat-cell>
                        </ng-container>

                        <!-- inicio  -->
                        <ng-container matColumnDef="inicio">
                            <mat-cell   *matCellDef="let element">
                                <input *ngIf="element.editable" type="time" [formControl]="horaInicio" (change)="guardarValorInicio([element.day])">
                            </mat-cell>
                        </ng-container>

                        <!-- a  -->
                        <ng-container matColumnDef="a">
                            <mat-cell *matCellDef="let element">a</mat-cell>
                        </ng-container>

                        <!-- fin  -->
                        <ng-container matColumnDef="fin">
                            <mat-cell  *matCellDef="let element">
                                <input *ngIf="element.editable" style="width: 100%;" type="time" [formControl]="horaFin" 
                                    (change)="guardarValorInicio([element.day])">
                            </mat-cell>
                        </ng-container>

                        <!-- Checkbox -->
    <ng-container matColumnDef="checkbox">
        <mat-cell *matCellDef="let element">
            <mat-checkbox (change)="element.editable = $event.checked; guardarValorInicio([element.day])" ></mat-checkbox>
        </mat-cell>
    </ng-container>

                        <mat-row *matRowDef="let row; columns: columnasAMostrar;"></mat-row>

                    </mat-table>

                    <mat-table [dataSource]="diasdelHorarios"  *ngIf="this.agregarHorariosexcel">

                        <!-- Dias -->
                        <ng-container matColumnDef="dias">
                            <mat-cell *matCellDef="let element"> {{element.day}} </mat-cell>
                        </ng-container>

                        <!-- inicio  -->
                        <ng-container matColumnDef="inicio">
                            <mat-cell  *matCellDef="let element">
                                {{element.horaInicio}}
                            </mat-cell>
                        </ng-container>

                        <!-- a  -->
                        <ng-container matColumnDef="a">
                            <mat-cell *matCellDef="let element">a</mat-cell>
                        </ng-container>

                        <!-- fin  -->
                        <ng-container matColumnDef="fin">
                            <mat-cell  *matCellDef="let element">
                                {{element.horaFin}}
                            </mat-cell>
                        </ng-container>

                        <mat-row *matRowDef="let row; columns: columnasAMostrar;"></mat-row>

                    </mat-table>

                </fieldset>

                

                    <div class="form">
                        <mat-form-field *ngIf="habilitarExcel" style="text-align: right;" appearance="outline">
                            <mat-label> Codigo empleado: </mat-label>
                            <input  matInput  (blur)="applyFilter($event)" placeholder="Ex. ium" [formControl]="codeEmployed">
                        </mat-form-field>

                        <mat-form-field style="text-align: right;" appearance="outline">
                            <mat-label> Dia de la Semana: </mat-label>
                            <input #calendario [disabled]="!habilitarExcel" matInput  [matDatepicker]="picker"   (dateChange)="onDateChange($event)"
                                [formControl]="date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field style="text-align: right;" appearance="outline">
                            <mat-label> Numero de la semana del año: </mat-label>
                            <input matInput [ngModel]="semanaAno" readonly>
                        </mat-form-field>

                        <mat-checkbox color="primary" labelPosition="after">Se ha realizado una revision exhaustiva de
                            las horas registradas, y se ha confirmado que cumple con los estandares establecidos por la
                            compañia y con las normativas legales vigentes antes de su aprobacion.</mat-checkbox>
                    </div>

                

            </div>

            <div class="buttons">
                <button mat-raised-button color="primary" class="" (click)="exportToExcelHours()">
                    Descargar Plantilla(CSV)
                    <mat-icon>
                        download
                    </mat-icon> 
                </button>
                <!---  <td *ngIf="this.habilitarHorario && this.habilitarHorariobyFecha">
                        <button class="button-options-excel" (click)="cargarArchivoHorarios()">
                            Subir Plantilla(CSV)
                            <mat-icon>
                                upload
                            </mat-icon> 
                        </button>
                        <input type="file" id="input-excel" style="display:none" accept=".xlsx, .xls" (change)="manejarArchivoHorarios($event)" />
                    </td> -->
                <button mat-raised-button color="primary" class="" (click)="crearHorario()" *ngIf="mHorarioList.length">
                    Guardar Cambios
                    <mat-icon>
                        save
                    </mat-icon> 
                </button>
            </div>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td >
                    </td>
                  
                </tr>
            </table>


        </div>
    </div>

    <div *ngIf="!Approving" style="text-align: -webkit-center; margin-top: 20px;">
        <h3 class="h3">Información no disponible, comuníquese con el administrador. </h3>
    </div>

</div>
