<div class="body viewmodule">
    <div>
        <h1 style="color: #61677A; font-size: 2em;"><strong>Horarios</strong></h1>
        <div class="div-em">
            <span>Encuentra información sobre los horarios personales de trabajo. Haz clic en la opción de tu interes para obtener más detalles</span>
            
        </div>
        <hr class="divider">
    </div>
    <br/>


    <!-- <div class="div-form">
        <mat-toolbar class="title-form">
            <h1>Aprobadores</h1>
        </mat-toolbar>
    </div> -->
    <!-- <div *ngIf="Approving">
        <div style="text-align: right; ">
            <button mat-raised-button color="primary" class="" (click)="crearUsuario()">Crear<mat-icon>library_add</mat-icon></button>
        </div>

        <div class="table-container">
            <mat-table [dataSource]="MApprover" class="table" style="min-width: 500px;">
                <ng-container matColumnDef="descripcion">
                    <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nivel">
                    <mat-header-cell *matHeaderCellDef> Nivel </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.nivel}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button style="color:green"  (click)="openDialog(element.idAprobador, element.descripcion,element.nivel)"
                            class="">Editar <mat-icon>edit_note</mat-icon></button>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button style="color:red" class="">Eliminar <mat-icon>delete</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnasAMostrar.concat('editar','eliminar')"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnasAMostrar.concat('editar','eliminar');"></mat-row>
            </mat-table>
        </div>
    </div>
    <div *ngIf="!Approving" style="text-align: -webkit-center; margin-top: 20px;">
        <h3 class="h3">Información no disponible, comuníquese con el administrador. </h3>
    </div> -->


    <div class="filters">
        <mat-form-field style="text-align: left; margin-top: 10px; padding: 10px;"
            appearance="outline">
            <mat-select [formControl]="pais" (selectionChange)="select(pais)"  [(ngModel)]="this.MUser.countryEntityId" required>
                <mat-option [value]="pais.idCounty" *ngFor="let pais of MListCountry">
                    {{pais.nameCountry}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="horarios">
        <fieldset class="table-h">

            <legend>Turnos: </legend>

            <mat-table [dataSource]="Datos" *ngIf="this.habilitarHorario && this.habilitarHorariobyFecha  && !this.agregarHorariosexcel" #tabla1>

                <!-- Dias -->
                <ng-container matColumnDef="dias">
                    <mat-cell *matCellDef="let element"> {{element.day}} </mat-cell>
                </ng-container>

                <!-- inicio  -->
                <ng-container matColumnDef="inicio">
                    <mat-cell   *matCellDef="let element">
                        <input *ngIf="element.editable" type="time" [formControl]="horaInicio" (change)="guardarValorInicio([element.day])">
                    </mat-cell>
                </ng-container>

                <!-- a  -->
                <ng-container matColumnDef="a">
                    <mat-cell *matCellDef="let element">a</mat-cell>
                </ng-container>

                <!-- fin  -->
                <ng-container matColumnDef="fin">
                    <mat-cell  *matCellDef="let element">
                        <input *ngIf="element.editable" style="width: 100%;" type="time" [formControl]="horaFin" 
                            (change)="guardarValorInicio([element.day])">
                    </mat-cell>
                </ng-container>

                <!-- Checkbox -->
                <ng-container matColumnDef="checkbox">
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox (change)="element.editable = $event.checked; guardarValorInicio([element.day])" ></mat-checkbox>
                    </mat-cell>
                </ng-container>

                <mat-row *matRowDef="let row; columns: columnasAMostrar;"></mat-row>

            </mat-table>

            <mat-table [dataSource]="diasdelHorarios"  *ngIf="this.agregarHorariosexcel">

                <!-- Dias -->
                <ng-container matColumnDef="dias">
                    <mat-cell *matCellDef="let element"> {{element.day}} </mat-cell>
                </ng-container>

                <!-- inicio  -->
                <ng-container matColumnDef="inicio">
                    <mat-cell  *matCellDef="let element">
                        {{element.horaInicio}}
                    </mat-cell>
                </ng-container>

                <!-- a  -->
                <ng-container matColumnDef="a">
                    <mat-cell *matCellDef="let element">a</mat-cell>
                </ng-container>

                <!-- fin  -->
                <ng-container matColumnDef="fin">
                    <mat-cell  *matCellDef="let element">
                        {{element.horaFin}}
                    </mat-cell>
                </ng-container>

                <mat-row *matRowDef="let row; columns: columnasAMostrar;"></mat-row>

            </mat-table>

        </fieldset>

        

            <div class="form">
                <mat-form-field *ngIf="habilitarExcel" style="text-align: right;" appearance="outline">
                    <mat-label> Codigo empleado: </mat-label>
                    <input  matInput  (blur)="applyFilter($event)" placeholder="Ex. ium" [formControl]="codeEmployed" (keypress)="onKeyPressOnlyLettersNumbers($event)" maxlength="25">
                </mat-form-field>

                <mat-form-field style="text-align: right;" appearance="outline">
                    <mat-label> Dia de la Semana: </mat-label>
                    <input #calendario [disabled]="!habilitarExcel" matInput  [matDatepicker]="picker"   (dateChange)="onDateChange($event)"
                        [formControl]="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field style="text-align: right;" appearance="outline">
                    <mat-label> Numero de la semana del año: </mat-label>
                    <input matInput [ngModel]="semanaAno" readonly>
                </mat-form-field>

                <mat-checkbox color="primary" labelPosition="after" [formControl]="confirmedControl">Se ha realizado una revision exhaustiva de
                    las horas registradas, y se ha confirmado que cumple con los estandares establecidos por la
                    compañia y con las normativas legales vigentes antes de su aprobacion.</mat-checkbox>
            </div>

        

    </div>

    <div class="buttons">

        


        <button mat-raised-button color="primary" class="" (click)="exportToExcelHours()">
            Descargar Plantilla(CSV)
            <mat-icon>
                download
            </mat-icon> 
        </button>
        
      <!--  <button mat-raised-button color="primary" class="" (click)="readExcelHorario(fileInput4)">
            Subir Plantilla(CSV)
            <mat-icon>
                upload
            </mat-icon> 
        </button>
        
        <input type="file"  id="input-excel" placeholder="Carga de plantilla horarios" accept=".xlsx, .xls" #fileInput4>
    -->
    <button  mat-raised-button color="primary" class="" (click)="cargarArchivoHorario()" *ngIf="habilitarExcel">
        Subir Plantilla(CSV)
        <mat-icon>
            upload
        </mat-icon> 
    </button>
    <input type="file" id="fileInputHorario" style="display:none" accept=".xlsx, .xls" (change)="manejarArchivoHorario($event)" />






            
        <button mat-raised-button color="primary" class="" (click)="crearHorario()" *ngIf="mHorarioList.length && confirmedControl.value">
            Guardar Cambios
            <mat-icon>
                save
            </mat-icon> 
        </button>
    </div>
</div>