<div class="body">
    <div>
        <h1 style="color: #61677A; font-size: 2em;"><strong>Roles</strong></h1>
        <div class="div-em">
            <em>Encuentra información sobre los roles de los usuarios. Haz clic en la opción de tu interes para obtener mas detalles</em>
            
        </div>
        <hr class="divider">
    </div>
    <br/>


    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">list</mat-icon>
                Roles
            </ng-template>
            <br>
            <div class="div-form">
                <mat-toolbar class="">
                    <h1>Gestion De Roles</h1>
                </mat-toolbar>
            </div>

            <div *ngIf="Approving">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Roles</ng-template>
                    <div style="text-align: right; ">
                        <button mat-raised-button color="primary" class="" (click)="crearRol()">Crear<mat-icon>library_add</mat-icon></button>
                    </div>
                    <div class="table-container">
                        <mat-table [dataSource]="MRoles" class="mat-elevation-z8" style="min-width: 500px;">
                            <!-- Nombre -->
                            <ng-container matColumnDef="nombre">
                                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.nameRole}} </mat-cell>
                            </ng-container>
    
                            <ng-container matColumnDef="editar">
                                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <button mat-button style="color:green" (click)="openDialog(element.idRole, element.nameRole)"
                                        class="">Editar</button>
                                </mat-cell>
                            </ng-container>
    
                            <ng-container matColumnDef="eliminar">
                                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <button mat-button style="color: red;" class="">Eliminar</button>
                                </mat-cell>
                            </ng-container>
    
                            <mat-header-row
                                *matHeaderRowDef="columnasAMostrar.concat('editar','eliminar')"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: columnasAMostrar.concat('editar','eliminar');"></mat-row>
                        </mat-table>
                    </div>
                </form>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">supervisor_account</mat-icon>
                Usuarios
            </ng-template>
            <br>
            <div class="div-form">
                <mat-toolbar class="">
                    <h1>Asignacion De Perfiles De Usuario</h1>
                </mat-toolbar>
            </div>
            <br>
            <div *ngIf="Approving">
                <em class="filter-text">Filtrar por:</em>
                <hr class="filter-divider">
                <div class="filters" *ngIf="Approving">
                    <span [formGroup]="userForm">
                        <mat-form-field class="field-width" appearance="outline">
                            <mat-label> Rol: </mat-label>
                            <mat-select formControlName="rol" (selectionChange)="select($event.value)">
                                <mat-option *ngFor="let cliente of MListRol" [value]="cliente.idRole">
                                    {{cliente.nameRole}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </span>
                    <mat-form-field class="field-width" appearance="outline">
                        <mat-label> Nombre o correo: </mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                    </mat-form-field>
                </div>

                <!-- <div class="mat-elevation-z8"> -->
                <div class="table-container">
                    <mat-table [dataSource]="MUsers" style="min-width: 800px;">

                        <!-- Nombre -->
                        <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.nameUser+" "+element.surnameUser}}
                            </mat-cell>
                        </ng-container>

                        <!-- Correo   -->
                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef> Correo Electronico </mat-header-cell>
                            <mat-cell *matCellDef="let element" style="overflow-wrap: anywhere;"> {{element.email}} </mat-cell>
                        </ng-container>

                        <!-- Rol  -->
                        <ng-container matColumnDef="rol">
                            <mat-header-cell *matHeaderCellDef> Rol </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.roleEntity.nameRole}} </mat-cell>
                        </ng-container>

                        <!-- Pais  -->
                        <ng-container matColumnDef="pais">
                            <mat-header-cell *matHeaderCellDef> Pais </mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.countryEntity.nameCountry}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="editar">
                            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <button mat-button style="color: green;" (click)="editar(element)" class="">Editar</button>
                            </mat-cell>
                        </ng-container>

                     <!--   <ng-container matColumnDef="excepcion">
                            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <button mat-button (click)="excepcion(element)" class="button-review">Excepción</button>
                            </mat-cell>
                        </ng-container>-->

                        <mat-header-row *matHeaderRowDef="columnasAMostrarUser.concat('editar')"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: columnasAMostrarUser.concat('editar');"></mat-row>
                    </mat-table>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons pageSize="10"
                    aria-label="Select page of periodic elements">
                </mat-paginator>
                <!-- </div> -->
            </div>
        </mat-tab>
    </mat-tab-group>

    <div *ngIf="!Approving" style="text-align: -webkit-center; margin-top: 20px;">
        <h3 class="h3">Información no disponible, comuníquese con el administrador. </h3>
    </div>
</div>