<div class="body">
    <div>
        <h1 style="color: #61677A; font-size: 2em;"><strong>Carga de Archivos</strong></h1>
        <div class="div-em">
            <em>Realíza la carga de archivos. Haz clic en la opción de tu interes para obtener mas detalles</em>
            
        </div>
        <hr class="divider">
    </div>
    <br/>


<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">upload_file</mat-icon>
                Subir Archivos ARP/TSE/STE
        </ng-template>
        <br>

    <div class="body-excel">

        <mat-progress-bar mode="indeterminate" *ngIf="activarBarra"></mat-progress-bar>
        <br/>
        <div class="field-form-pp">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Pais</mat-label>
                <mat-select [formControl]="pais" (selectionChange)="select(pais)">
                    <mat-option *ngFor="let cliente of MListCountry" [value]="cliente.idCounty">
                        {{cliente.nameCountry}} ({{cliente.zonaHoraria}})
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <br/>

        <div>
            <label class="mi-etiqueta">
                Archivo ARP: <br><!-- <mat-icon class="example-tab-icon">done-circule</mat-icon> <mat-icon>close</mat-icon><br> -->
                <input [disabled]="activarBarra" type="file" placeholder="Carga archivos ARP:" accept=".xlsx, .xls" (change)="activarARP('ARP',$event)" #fileInput1>
            </label>


        </div>

        <div>
            <label class="mi-etiqueta">
                Archivo TSE: <br>
                <input [disabled]="activarBarra" type="file" placeholder="Carga archivos TSE:" accept=".xlsx, .xls" (change)="activarARP('TSE',$event)" #fileInput2>
            </label>

        </div>
        
        <div>
            <label class="mi-etiqueta">
                Archivo STE: <br>
                <input [disabled]="activarBarra" type="file" placeholder="Carga archivos STE:" accept=".xlsx, .xls" (change)="activarARP('STE',$event)" #fileInput3>
            </label>

        </div>

        <button [disabled]="activarBarra" *ngIf="botonARP && botonTSE && botonSTE" class="boton" (click)="readExcel(fileInput1, fileInput2, fileInput3)">Subir Archivos</button>

    </div>
        
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">upload_file</mat-icon>
            Subir Plantilla GMT
        </ng-template>
        <br>
        <div class="body-excel">
            <mat-progress-bar mode="indeterminate" *ngIf="activarBarra"></mat-progress-bar>
            <div class="centrado">
            <label class="mi-etiqueta">
                Cargar plantilla GMT 
                <br>
                <input type="file" [disabled]="activarBarra" (change)="activarARP('Horario',$event)" id="input-excel" placeholder="Carga de plantilla horarios" accept=".xlsx, .xls" #fileInput4>
            </label>
        </div>

        <button class="boton" *ngIf="botonHorario" (click)="readExcelHorario(fileInput4)">
            Subir Archivo
        </button>
        </div>
       
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">upload_file</mat-icon>
            Subir Plantilla Workday Gerentes
        </ng-template>
        <br>
        <div class="body-excel">
            <mat-progress-bar mode="indeterminate" *ngIf="activarBarra"></mat-progress-bar>
            <div class="centrado">
            <label class="mi-etiqueta">
                Cargar plantilla de Workday Gerentes 
                <br>
                <input type="file" [disabled]="activarBarra" (change)="activarARP('WorkdayG',$event)" id="input-excel" placeholder="Carga de plantilla horarios" accept=".xlsx, .xls" #fileInputWorkdayG>
            </label>
        </div>

        <button class="boton" *ngIf="botonWorkdayG" (click)="readExcelWorkdayG(fileInputWorkdayG)">
            Subir Archivo
        </button>
        </div>
       
    </mat-tab>
</mat-tab-group>

    </div>
