<div class="body">
    <div>
        <h1 style="color: #61677A; font-size: 2em;"><strong>Carga de Archivos</strong></h1>
        <div class="div-em">
            <em>Realíza la carga de archivos. Haz clic en la opción de tu interes para obtener mas detalles</em>
            
        </div>
        <hr class="divider">
    </div>
    <br/>


<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">upload_file</mat-icon>
                Subir Archivos ARP/TSE/STE
        </ng-template>
        <br>

    <div class="body-excel" style="width: 95%;">

        <mat-progress-bar mode="indeterminate" *ngIf="activarBarra"></mat-progress-bar>
        <br/>
        <div>
            <div class="field-form-pp">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Time zone</mat-label>
                    <mat-select [formControl]="pais" (selectionChange)="select(pais)">
                        <mat-option *ngFor="let zona of MListGMT" [value]="zona.paisGMT">
                            {{zona.time}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div>
            <div>
                <label class="mi-etiqueta">
                    Archivo ARP: <br><!-- <mat-icon class="example-tab-icon">done-circule</mat-icon> <mat-icon>close</mat-icon><br> -->
                    <input [disabled]="activarBarra" type="file" placeholder="Carga archivos ARP:" accept=".xlsx, .xls" (change)="activarARP('ARP',$event)" #fileInput1>
                </label>
            </div>
        </div>
        <div>
            <div>
                <label class="mi-etiqueta">
                    Archivo TSE: <br>
                    <input [disabled]="activarBarra" type="file" placeholder="Carga archivos TSE:" accept=".xlsx, .xls" (change)="activarARP('TSE',$event)" #fileInput2>
                </label>
            </div>
        </div>
        <div>
            <div>
                <label class="mi-etiqueta">
                    Archivo STE: <br>
                    <input [disabled]="activarBarra" type="file" placeholder="Carga archivos STE:" accept=".xlsx, .xls" (change)="activarARP('STE',$event)" #fileInput3>
                </label>
            </div>
        </div>




        <button [disabled]="activarBarra" *ngIf="botonARP && botonTSE && botonSTE" class="boton" (click)="readExcel(fileInput1, fileInput2, fileInput3)">Subir Archivos</button>

    </div>
        
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">upload_file</mat-icon>
            Subir Plantilla Horarios
        </ng-template>
        <br>
        <div class="body-excel">
            <mat-progress-bar mode="indeterminate" *ngIf="activarBarra"></mat-progress-bar>
            <div class="centrado">
            <label class="mi-etiqueta">
                Cargar plantilla Horarios 
                <br>
                <input type="file" [disabled]="activarBarra" (change)="activarARP('Horario',$event)" id="input-excel" placeholder="Carga de plantilla horarios" accept=".xlsx, .xls" #fileInput4>
            </label>
        </div>

        <button class="boton" *ngIf="botonHorario" (click)="readExcelHorario(fileInput4)">
            Subir Archivo
        </button>
        </div>
       
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">upload_file</mat-icon>
            Subir Plantilla Workday Gerentes
        </ng-template>
        <br>
        <div class="body-excel">
            <mat-progress-bar mode="indeterminate" *ngIf="activarBarra"></mat-progress-bar>
            <div>
                <div class="centrado">
                    <label class="mi-etiqueta">
                        Cargar plantilla de Workday Gerentes 
                        <br>
                        <input type="file" [disabled]="activarBarra" (change)="activarARP('WorkdayG',$event)" id="input-excel" placeholder="Carga de plantilla horarios" accept=".xlsx, .xls" #fileInputWorkdayG>
                    </label>
                </div>
            </div>

        <button class="boton" *ngIf="botonWorkdayG" (click)="readExcelWorkdayG(fileInputWorkdayG)">
            Subir Archivo
        </button>
        </div>
       
    </mat-tab>
</mat-tab-group>

    </div>
