<div class="body">

  <div class="container">
    <mat-toolbar  class="">
      <h1>Festivos</h1>
    </mat-toolbar>
    <button class="btn-cerrar" mat-mini-fab (click)="onClose()" aria-label="Cerrar">
      <mat-icon>close</mat-icon>
    </button>
  </div>
    
    
      <mat-form-field appearance="fill">
        <mat-label>Elige el festivo</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

        
    
    </div>