<div style="width: 550px; height: 720px; padding: 40px;">
  <article>
      <b>Nombre:</b> {{mApprover.horusReportEntity.userEntity.nameUser}}
      <br>
      <b>Apellidos:</b> {{mApprover.horusReportEntity.userEntity.surnameUser}}
      <br>
      <b>Id Usuario:</b> {{mApprover.horusReportEntity.userEntity.employeeCode}}
      <br>
      <b>Fecha:</b> {{mApprover.horusReportEntity.strStartDate.substring(0,10) }}
      <br>
      <b>Fecha Creación:</b> {{mApprover.horusReportEntity.strCreationDate}}
      <br>
      <b> N° Reporte: </b> {{mApprover.horusReportEntity.strReport}}
      <br>
      <b> Reporte de horas: </b> {{mApprover.horusReportEntity.countHours}}
      <br>
      <b> Observaciones solicitante: </b> {{mApprover.description}}
      <br>
      <b> Hora inicio: </b> {{mApprover.horusReportEntity.startTime}}
      <br>
      <b> hora fin: </b> {{mApprover.horusReportEntity.endTime}}
      <br>
      
     <!-- <b> Cliente: </b> {{mApprover.horusReportEntity.clientEntityId}}-->
      <!-- <b> Cliente: </b> {{mApprover.horusReportEntity.userEntity.idUser}}-->

  </article>

  <div class="example-container">
      
      <div [formGroup]="userForm">

      <mat-form-field class="field-width" appearance="outline">
          <mat-label>Indique si desea aprobar o rechazar la solicitud del empleado:</mat-label>
          <mat-select formControlName="aprobacion"  (selectionChange)="changingForm()" >
              <mat-option value=0>Aprobar</mat-option>
              <mat-option value=1>Rechazar</mat-option>
            </mat-select>
      </mat-form-field>

      <mat-form-field class="field-width" appearance="outline" 
      *ngIf="userForm.value.aprobacion == '0' && (MUser.rolEntity.nameRole == 'Usuario Aprobador N1' || MUser.rolEntity.nameRole == 'Usuario estandar')">
        <mat-label>Aprobador</mat-label>
        <mat-select [formControl]="aprobador" required (selectionChange)="changingForm()" >
            <mat-option *ngFor="let aprobador of MAprobadorUser" [value]="aprobador.userEntityId">
                {{aprobador.userEntity.nameUser + ' '+ aprobador.userEntity.surnameUser}}
            </mat-option>
        </mat-select>
    </mat-form-field>

      <mat-form-field class="field-width" appearance="outline">
          <mat-label>Observaciones</mat-label>
          <textarea matInput placeholder="Observaciones" formControlName="descripcion" (keypress)="changingForm()"></textarea>
      </mat-form-field>

      
      <mat-checkbox color="primary" [checked]="checked" value="checked" (click)="changeValue(checked)"  style="margin-top: 50px;" labelPosition="after">Confirmo que se ha realizado una revision exhaustiva de
        las horas registradas en la accion que se ejecutara.</mat-checkbox>
      

  </div>
  </div>

    <div style="text-align: center; margin-top: 60px;">
      <button mat-raised-button color="primary"  
      [disabled]="btnOKState" 
      (click)="crearAprobacion()"  class=""> 
        Aceptar
        <mat-spinner style="position:absolute;margin-left:15px; margin-top: -60px;text-align: center; " 
        [diameter]="25" *ngIf="btnOKStateLoading"></mat-spinner> </button>
  </div>


</div>
