<div style="width: 500px; height: 500px; padding: 40px;">

    <article>
        <strong>Actividad:</strong> {{this.tipoHoras}}
        <br>
        <strong>Fecha de envio:</strong> {{MListHorusResport.fechaenvio | date:'yyyy-MM-dd'}}
        <br>
        <strong>N° Reporte:</strong> {{MListHorusResport.numeroreporte}}
        <br>
        <strong>Reporte de horas:</strong> {{MListHorusResport.horas}}
        <br>
        <strong>Cliente:</strong> {{MListHorusResport.clientEntity.nameClient}}
        <br>
        <br>
    </article>

    <div>
        <mat-table [dataSource]="[MListHorus[MListHorus.length -1]]">

            <ng-container matColumnDef="aprobador1">
                <mat-header-cell *matHeaderCellDef> Aprobador 1 </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.aprobaador1}}</mat-cell>
            </ng-container>

       <!--     <ng-container matColumnDef="aprobador2">
                <mat-header-cell *matHeaderCellDef> Aprobador 2 </mat-header-cell>
                <mat-cell *matCellDef="let element">-------</mat-cell>
                <mat-cell *matCellDef="let element" >
                    <label *ngIf="element.estadoAprobadorNIvel2 > 0"> {{element.aprobaador2}}</label>
                </mat-cell>
            </ng-container> -->

            <!-- Estado  -->
            <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button 
                            mat-button class="button-stade" 
                            [ngStyle]="{'background-color':'white'}"
                            [title]="Aprobacion[element.estadoAprobadorNIvel1]">
                            <mat-icon style="font-size: 20px;"  [ngStyle]="{'color': getColor(Aprobacion[element.estadoAprobadorNIvel1])}">
                                {{cargarIcono(Aprobacion[element.estadoAprobadorNIvel1])}}
                            </mat-icon>                        
                        </button>                   
                </mat-cell>

           <!--     <mat-cell *matCellDef="let element" >
                    <button mat-button class="button-stade"  [ngStyle]="{'background-color': getColor(Aprobacion[element.estadoAprobadorNIvel2])}">{{Aprobacion[element.estadoAprobadorNIvel2.toString()]}}
                    </button>                    
                </mat-cell>-->
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnasAMostrar1"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnasAMostrar1;"></mat-row>

        </mat-table>
    </div>

    <div   *ngIf="MListHorusResport.estadoAprobadorNIvel2 > 0">
        <mat-table [dataSource]="[MListHorus[MListHorus.length -1]]" >
    
            <ng-container matColumnDef="aprobador2">
                <mat-header-cell *matHeaderCellDef> Aprobador 2 </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container >{{element.aprobaador2}}</ng-container>
                </mat-cell>
            </ng-container> 
    
            <!-- Estado  -->
            <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                <mat-cell *matCellDef="let element" >
                    <ng-container >
                        <button 
                            mat-button class="button-stade" 
                            [ngStyle]="{'background-color': getColor(Aprobacion[element.estadoAprobadorNIvel2])}"
                            [title]="Aprobacion[element.estadoAprobadorNIvel2]">
                            <mat-icon style="font-size: 20px;">
                                {{cargarIcono(Aprobacion[element.estadoAprobadorNIvel2])}}
                            </mat-icon>                        
                        </button>
                    </ng-container>                    
                </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="columnasAMostrar2"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnasAMostrar2;"></mat-row>
    
        </mat-table>
    </div>

    <p>
        <b>Observaciones</b>
        <br>
        {{MListHorusResport.observaciones}}
    </p>


    <div style="text-align: center;">
        <button mat-button (click)="onClose()" class="button-close"> Cerrar </button>
    </div>

</div>