<!-- <div style="height: 550px; padding: 40px;"> -->
<h2 mat-dialog-title>Historial</h2>
<mat-dialog-content>
    <article>
        <strong>Actividad:</strong> {{this.tipoHoras}}
        <br>
        <strong>Fecha de envio:</strong> {{MListHorusResport.fechaenvio? MListHorusResport.fechaenvio.split(" ")[0] : ''}}
        <br>
        <strong>N° Reporte:</strong> {{MListHorusResport.strNumeroreporte}}
        <br>
        <strong>Reporte de horas:</strong> {{MListHorusResport.horas}}
        <br>
        <strong>Cliente:</strong> {{MListHorusResport.userEntity?.nameUser +' '+MListHorusResport.userEntity?.surnameUser}}
        <br>
        <br>
    </article>

    <div>
        <mat-list class="assignment-list">
            <mat-list-item *ngFor="let assignment of assignments">
              <span matListItemTitle>
                {{assignment.userEntityId == "53765c41-411f-4add-9034-7debaf04f276"? "Sistema" : assignment.userEntity.roleEntity.nameRole}}
                <mat-icon style="font-size: 20px; float:right; margin-top:12px;" [ngStyle]="{'color': getColor(Aprobacion[assignment.resultado])}">{{cargarIcono(Aprobacion[assignment.resultado])}}</mat-icon>
              </span>
              <span matListItemLine>{{assignment.userEntity.nameUser}} {{assignment.userEntity.surnameUser}}</span>
              <span matListItemLine>{{assignment.description}}</span>
            </mat-list-item>
          </mat-list>
        
    </div>
</mat-dialog-content>

    <!--<div   *ngIf="MListHorusResport.estadoAprobadorNIvel2 > 10">
        <mat-table [dataSource]="[MListHorus[MListHorus.length -1]]" >
    
            <ng-container matColumnDef="aprobador2">
                <mat-header-cell *matHeaderCellDef> Aprobador 2 </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container >{{element.aprobaador2}}</ng-container>
                </mat-cell>
            </ng-container> 
    
            
            <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                <mat-cell *matCellDef="let element" >
                    <ng-container >
                        <button 
                            mat-button class="button-stade" 
                            [ngStyle]="{'background-color': getColor(Aprobacion[element.estadoAprobadorNIvel2])}"
                            [title]="Aprobacion[element.estadoAprobadorNIvel2]">
                            <mat-icon style="font-size: 20px;">
                                {{cargarIcono(Aprobacion[element.estadoAprobadorNIvel2])}}
                            </mat-icon>                        
                        </button>
                    </ng-container>                    
                </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="columnasAMostrar"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnasAMostrar;"></mat-row>
    
        </mat-table>
    </div>-->

<mat-dialog-actions>
    <button mat-button (click)="onClose()" class="button-close"> Cerrar </button>
</mat-dialog-actions>
<!--     <div style="text-align: center;">
    </div>
 -->
<!-- </div> -->