<div class="body" style="margin-left: 70px;padding: 40px;margin-top: 10px;">

    <div>
        <h1 style="color: #61677A; font-size: 2em;"><strong>Dashboard</strong></h1>
        <hr class="divider">
    </div>



<!--Graficas del reporte.-->

<div class="col-md-12">
    <div class="col-md-6">
        <h1 style="color: #61677A; font-size: 2em;"><strong>Avance de horas aprobadas </strong></h1>
    </div>
    <div class="col-md-6">
        <mat-form-field class="field-width" appearance="outline">
            <mat-label>Año:</mat-label>
            <input matInput type="number" [(ngModel)]="noAno" name="InpNoAño" max=2050 maxlength=4 min=2023 (ngModelChange)="valuechangeAno($event)">
        </mat-form-field>
    </div>  
</div>
<div style="background-color: white;">
    <div style="margin-bottom: 35px;"></div>
    <div class="wrapper">
        
        <!--<app-gauge id="GraphSTB" etiqueta="xxxx" [series]="this.seriesStandBy"></app-gauge>-->
            <apx-chart id="gauge1"
            [series]="chartOptionsG1.series!"
            [chart]="chartOptionsG1.chart!"
            [plotOptions]="chartOptionsG1.plotOptions!"
            [labels]="chartOptionsG1.labels!"
            [fill]="chartOptionsG1.fill!"></apx-chart>



            <apx-chart id="aaaa"
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [xaxis]="chartOptions.xaxis!"
            [title]="chartOptions.title!"></apx-chart> 
    </div>

    
    <hr style="margin-top: 0px;margin-bottom: 25px;">
    

    <div class="wrapper">
       
        <!--<app-gauge id="GraphOVT" etiqueta="yyyyy" [series]="this.seriesOverTime"></app-gauge>-->
        <apx-chart id="gauge2"
        [series]="chartOptionsG2.series!"
        [chart]="chartOptionsG2.chart!"
        [plotOptions]="chartOptionsG2.plotOptions!"
        [labels]="chartOptionsG2.labels!"
        [fill]="chartOptionsG2.fill!"></apx-chart>
       
        <apx-chart id="bbbb"
         [series]="chartOptionsOvertime.series!"
         [chart]="chartOptionsOvertime.chart!"
         [xaxis]="chartOptionsOvertime.xaxis!"
         [title]="chartOptionsOvertime.title!"></apx-chart> 
        
    </div>
</div> 


<hr class="divider">

<!--Tablas del reporte.-->

    <div class="col-md-12">
        <div style="margin-bottom: 35px;"></div>
        <div class="col-md-12">
            <mat-form-field class="field-width" appearance="outline">
                <mat-label>Semana</mat-label>
                <input matInput type="number" [(ngModel)]="noSemana" name="InpNoSemana" max=52 maxlength=2 min=1 (ngModelChange)="valuechange($event)">
            </mat-form-field>
        </div>
        
        <h1 style="color: #61677A; font-size: 2em;"><strong>Horas reportadas en CAS / Horas  (Suma Total)</strong></h1>
        <hr class="divider">
        <div class="col-md-12">
            <table id="tbl_ReporteHoras" datatable class="styled-table" *ngIf="_reporteGral.length >0" style="width: 95%;">
                <thead class="thead-blue">
                    <tr>
                        <th scope="col" class="text-center align-middle" style="font-weight: bold;">TOOL</th>
                        <th *ngFor="let item of datadias" scope="col" class="text-center align-middle" style="font-weight: bold;">{{item.fecha}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let items of repGralDias" >
                        <td style="font-weight: bold;">{{items.tool}}</td>
                        <td>{{items.dia1}}</td>
                        <td>{{items.dia2}}</td>
                        <td>{{items.dia3}}</td>
                        <td>{{items.dia4}}</td>
                        <td>{{items.dia5}}</td>
                        <td>{{items.dia6}}</td>
                        <td>{{items.dia7}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1 style="color: #61677A; font-size: 2em;"><strong>Registros aprobados en el portal TLS / Horas & Week</strong></h1>
        <hr class="divider">
        <div class="col-md-12">
            <div class="col-md-5">
                <table id="tbl_ReporteHorasStandby" datatable class="styled-table" *ngIf="_reporteGralStandBy.length >0" style="width: 95%;">
                    <thead class="thead-blue">
                        <tr>
                            <th scope="col" class="text-center align-middle" style="font-weight: bold;">StandBy</th>
                            <th *ngFor="let item of datadias" scope="col" class="text-center align-middle" style="font-weight: bold;">{{item.fecha}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of repGralDiasStandBy" >
                            <td style="font-weight: bold;">{{items.tool}}</td>
                            <td>{{items.dia1}}</td>
                            <td>{{items.dia2}}</td>
                            <td>{{items.dia3}}</td>
                            <td>{{items.dia4}}</td>
                            <td>{{items.dia5}}</td>
                            <td>{{items.dia6}}</td>
                            <td>{{items.dia7}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <table id="tbl_ReporteHorasStandby" datatable class="styled-table" *ngIf="_reporteGralOver.length >0" style="width: 95%;">
                    <thead class="thead-blue">
                        <tr>
                            <th scope="col" class="text-center align-middle" style="font-weight: bold;">OverTime</th>
                            <th *ngFor="let item of datadias" scope="col" class="text-center align-middle" style="font-weight: bold;">{{item.fecha}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of repGralDiasOver" >
                            <td style="font-weight: bold;">{{items.tool}}</td>
                            <td>{{items.dia1}}</td>
                            <td>{{items.dia2}}</td>
                            <td>{{items.dia3}}</td>
                            <td>{{items.dia4}}</td>
                            <td>{{items.dia5}}</td>
                            <td>{{items.dia6}}</td>
                            <td>{{items.dia7}}</td>
                        </tr>
                    </tbody>
                </table>                
            </div>
            
            
        </div>
        
        
    </div>

    




</div>