 
  
  .wrapper {
    border: 0px solid white;
    border-radius: 5px;
    background-color: white;
  }
  
  .wrapper > div {
    border: 0px solid white;
    border-radius: 5px;
    background-color: white;
    padding: 1em;
    color: white;
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .wrapper > div {
    flex: 1 1 200px;
  }
  
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #f3f3f3 !important;
  color: #45474B;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}


.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.divider {
  padding: 10px;
  border: none;
  border-top: 2px solid #808388;
  width: 100%;
}

.viewmodule {
    
  margin-left: 92px!important;
  margin-right: 10px;
  margin-top: 11px;
  border-radius: 8px;
  border-color: skyblue!important;
  border: 1px outset;
padding: 10px;
box-shadow: -2px 0px 22px -13px black;
}