
    <div class="div-form">

        <div>
            <h1 style="color: #61677A; font-size: 2em;"><strong>Registro de Horas</strong></h1>
            <div class="div-em">
                <em>Realíza el registro de horas personales de trabajo. Haz clic en la opción de tu interes para obtener mas detalles</em>
                
            </div>
            <hr class="divider">
        </div>
        <br/>

        <form>
            <div class="container" style="padding-top: 20px; display: flex; justify-content: space-between;">
                <!-- Sección 1 -->
                <fieldset style="flex: 0.6; margin-right: 10px;">
                    <legend class="mi-estilo">Datos Personales</legend>
                    <div class="example-container">
                        <mat-form-field class="field-width" appearance="outline">
                            <mat-label>ID Usuario</mat-label>
                            <input matInput [(ngModel)]="MUser.employeeCode" name="employeeCode" readonly>
                        </mat-form-field>
                    </div>
                    <div class="example-container">
                        <mat-form-field class="field-width" appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput [(ngModel)]="MUser.nameUser + ' ' + MUser.surnameUser" name="name" readonly>
                        </mat-form-field>
                    </div>
                    <div class="example-container">
                        <mat-form-field class="field-width" appearance="outline">
                            <mat-label>Pais</mat-label>
                            <input matInput [(ngModel)]="MUser.countryEntity.nameCountry" name="pais" readonly>
                        </mat-form-field>
                    </div>
                </fieldset>

                <!-- Sección 2 -->
                <fieldset style="flex: 1; margin-left: 10px;">
                    <legend class="mi-estilo">Datos Personales</legend>
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Fecha</mat-label>
                                    <input matInput [matDatepicker]="picker" [formControl]="fecha" format="yyyy/MM/dd"required>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Hora Inicio</mat-label>
                                    <input matInput type="time"  (change)="changeHandler()" value="8:00" format="HH:mm" [formControl]="horaInicio"  required >
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Hora Fin</mat-label>
                                    <input matInput type="time"  (change)="changeHandler()" [formControl]="horaFin" required>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Reporte N°</mat-label>
                                    <input matInput matInput [(ngModel)]="reporte" name="reporte" readonly>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Cantidad de Horas</mat-label>
                                    <input matInput [(ngModel)]="cantidadHoras" name="cantidadHoras" readonly>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <table class="example-full-width" cellspacing="0">
                        <tr>                                        
                            <td>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Actividad</mat-label>
                                    <mat-select [formControl]="actividad" required>
                                        <mat-option [value]="0">
                                            Standby
                                        </mat-option>                                        
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <div class="example-container">
                        <mat-form-field class="field-width" appearance="outline">
                            <mat-label>Aprobador</mat-label>
                            <mat-select [formControl]="aprobador" required>
                                <mat-option *ngFor="let aprobador of MAprobadorUser" [value]="aprobador.userEntityId">
                                    {{aprobador.userEntity.nameUser}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="example-container">
                        <mat-form-field class="field-width" appearance="outline">
                            <mat-label>Descripcion</mat-label>
                            <textarea matInput [formControl]="descripcion"></textarea>
                        </mat-form-field>
                    </div>
                </fieldset>
            </div>
            <div style="text-align: right; padding-top: 30px;">
                <button mat-raised-button class="button-send" (click)="enviar()">Enviar</button>
            </div>

        </form>
    </div>

