
<div class="body">
    <div>
        <h1 style="color: #61677A; font-size: 2em;"><strong>Historial De Horas</strong></h1>
        <div class="div-em">
            <em>Encuentra información sobre el historial de horas .Haz clic en el estado de tu interes para obtener mas detalles</em>
            
        </div>
        <hr class="divider">
    </div>
    <br/>
    

        
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="field-width" appearance="outline">
                        <mat-label> Filtar por Cliente, fechas: </mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                    </mat-form-field>
                </td>
            </tr>
        </table>



    <mat-table [dataSource]="mListHorusReport" class="mat-elevation-z8">

        <!-- Fecha envio -->
        <ng-container matColumnDef="fechaEnvio">
            <mat-header-cell *matHeaderCellDef> Fecha envio </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.startDate | date:'yyyy-MM-dd'}} </mat-cell>
        </ng-container>

        <!-- Fecha creacion -->
        <ng-container matColumnDef="creationDate">
            <mat-header-cell *matHeaderCellDef> Fecha creacion </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.creationDate | date:'yyyy-MM-dd'}} </mat-cell>
        </ng-container>

        <!-- N° Cliente  -->
        <ng-container matColumnDef="cliente">
            <mat-header-cell *matHeaderCellDef> N° Cliente </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.clientEntity.nameClient}} </mat-cell>
        </ng-container>

        <!-- N° Reporte  -->
        <ng-container matColumnDef="reporte">
            <mat-header-cell *matHeaderCellDef> N° Reporte </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.numberReport}} </mat-cell>
        </ng-container>

        <!-- Aprobador  -->
        <ng-container matColumnDef="aprobador">
            <mat-header-cell *matHeaderCellDef> Aprobador </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.approverId}} </mat-cell>
        </ng-container>

        <!-- Reporte Horas  -->
        <ng-container matColumnDef="horas">
            <mat-header-cell *matHeaderCellDef> Reporte Horas </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.countHours}} </mat-cell>
        </ng-container>

        <!-- Estado  -->
        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-align: center;">
                <button mat-button class="button-stade"
                    [ngStyle]="{'background-color': 'white'}"
                    (click)="openDialog(element.idHorusReport)" [title]="Aprobacion[element.startTime]">
                    <mat-icon [ngStyle]="{'color': getColor(Aprobacion[element.startTime])}">
                        {{cargarIcono(Aprobacion[element.startTime])}}
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="columnasAMostrar"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnasAMostrar;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>

</div>