.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  height: 70px;
  background-color:#EEEEEE;
}

.example-width {
  width: 50%;
  height: 70px;
  background-color : #EEEEEE;
}

.title-form {
  width: 60%;
    height: 50px;
    color: white; 
    margin-bottom: 10px;
    background: linear-gradient(130deg,#548CA8 85%, transparent 15%);
}

td {
  padding-right: 8px;
}

.container {
  min-height: 100vh;
}

hr {
  border: none;
  border-top: 2px solid #186AA5;
  color: #fff;
  overflow: visible;
  text-align: center;
  height: 5px;
}


  


label {
  font-family: Arial, sans-serif; 
  color: #333; 
  font-size: 14px; 
  font-weight: bold; 
  width: 50%;
}

.body{
  padding: 70px;
  margin-left: 60px;
}

.button-save{
  background-color: #186AA5 !important; 
    padding: 10px 10px !important;
    border: none; 
    color: white !important; 
    text-align: center !important; 
    text-decoration: none !important; 
    border-radius: 10px ;
    display: inline-block !important ;
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer; 
}

.div-h3{
  width: 40%;
}

.h3{
  color: #034370; /* Cambia el color del texto */
  background-color: #EEEEEE; /* Cambia el color de fondo */
  padding: 10px; /* Añade espacio alrededor del texto */
  border-radius: 5px; /* Redondea las esquinas del fondo */
}
