<div class="body">

    <mat-toolbar  class="title-form">
        <h1>Pais</h1>
      </mat-toolbar>
    
        <div class="example-container" [formGroup]="userForm">
            <mat-form-field class="field-width" appearance="outline">
                <mat-label> Nombre del Pais: </mat-label>
                <input matInput [(ngModel)]="this.nameCountry" name="nameClient" formControlName="nombre">
            </mat-form-field>            
        </div>
    
        <div style="text-align: center;">
            <button mat-button (click)="onSubmit()"  class="button-close"> Actualizar </button>
        </div>
        
    
    </div>
    