<div class="body">
    <div>
        <h1 style="color: #61677A; font-size: 2em;"><strong>Aprobación de Horas</strong></h1>
        <div class="div-em">
            <em>Encuentra información sobre la aprobación de horas. Haz clic en la opción de tu interes para obtener mas detalles</em>
            
        </div>
        <hr class="divider">
    </div>
    <br/>


    <!-- <div class="div-form">
        <mat-toolbar class="title-form">
            <h1>Aprobación de horas</h1>
        </mat-toolbar>
    </div> -->

    <mat-tab-group *ngIf="Approving" (selectedTabChange)="onTabChanged($event)">
        <mat-tab>
            <ng-template mat-tab-label (click)="botonPresionado = 'pendientes'">
                <mat-icon class="example-tab-icon">watch_later</mat-icon>
                Pendientes
            </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label (click)="botonPresionado = 'aprobadas'">
                <mat-icon class="example-tab-icon">done</mat-icon>
                Aprobadas
            </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label (click)="botonPresionado = 'rechazadas'">
                <mat-icon class="example-tab-icon">clear</mat-icon>
                Rechazadas
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    <!-- 
    <table class="example-full-width" cellspacing="0" *ngIf="!Approving">
        <tr>
            <td>
                <button class="button-options" (click)="botonPresionado = 'pendientes'">Pendientes</button>
            </td>
            <td>
                <button class="button-options" (click)="botonPresionado = 'aprobadas'">Aprobadas</button>
            </td>
            <td>
                <button class="button-options" (click)="botonPresionado = 'rechazadas'">Rechazadas</button>
            </td>
        </tr>
    </table> -->

    <div *ngIf="Approving">
        <mat-table [dataSource]="filtrarDatos(botonPresionado)" class="table">
            <!-- Fecha envio -->
            <ng-container matColumnDef="fechaEnvio">
                <mat-header-cell *matHeaderCellDef> Fecha envio </mat-header-cell>
                <mat-cell *matCellDef="let element">
                     {{element.horusReportEntity.startDate | date:'yyyy-MM-dd'}} 
                </mat-cell>
            </ng-container>

            <!-- empleado  -->
            <ng-container matColumnDef="empleado">
                <mat-header-cell *matHeaderCellDef> Empleado </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.horusReportEntity.userEntity.nameUser+"
                    "+element.horusReportEntity.userEntity.surnameUser}} </mat-cell>
            </ng-container>

            <!-- Identifiacion  -->
            <ng-container matColumnDef="identificacion">
                <mat-header-cell *matHeaderCellDef> Identificacion</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.horusReportEntity.userEntity.employeeCode}} </mat-cell>
            </ng-container>

            <!-- Reporte Horas  -->
            <ng-container matColumnDef="horas">
                <mat-header-cell *matHeaderCellDef> Reporte Horas </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.horusReportEntity.countHours}} </mat-cell>
            </ng-container>

            <!-- Estado  -->
            <ng-container *ngIf="botonPresionado == 'pendientes'" matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-button color="primary"  class="" (click)="openDialog(element)">Ver Detalles
                    </button>
                </mat-cell>
            </ng-container>

            <!-- Estado  -->
            <ng-container *ngIf="botonPresionado == 'aprobadas'  || botonPresionado == 'rechazadas'"
                matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button 
                    mat-button class="button-stade"  
                    [ngStyle]="{'background-color': 'transparent'}" 
                    [title]="Aprobacion[element.state]">
                        <mat-icon  [ngStyle]="{'color': getColor(Aprobacion[element.state])}">
                            {{cargarIcono(Aprobacion[element.state])}}
                        </mat-icon>

                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnasAMostrar"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnasAMostrar;"></mat-row>
        </mat-table>
    </div>

    <div *ngIf="!Approving" style="text-align: -webkit-center; margin-top: 20px;">
        <h3 class="h3">Información no disponible, comuníquese con el administrador. </h3>
    </div>
</div>