<div class="body viewmodule">
    <div>
        <h1 style="color: #61677A; font-size: 2em;"><strong>Acciones pendientes</strong></h1>
        <div class="div-em">
            <span>Encuentra información sobre la aprobación de horas. Haz clic en la opción de tu interes para obtener más detalles</span>
            
        </div>
        <hr class="divider">
    </div>
    <br/>

    <mat-tab-group  (selectedTabChange)="onTabChanged($event)">
        <mat-tab>
            <ng-template mat-tab-label (click)="botonPresionado = 'pendientes'">
                <mat-icon class="example-tab-icon">watch_later</mat-icon>
                Pendientes por aprobar
            </ng-template>
        </mat-tab>

        <mat-tab *ngIf="MUser.rolEntity.nameRole == 'Usuario estandarx' || MUser.rolEntity.nameRole == 'Usuario Aprobador N1x' || MUser.rolEntity.nameRole == 'Super Administradorx'">
            <ng-template  mat-tab-label (click)="botonPresionado = 'aprobadasN1'">
                <mat-icon class="example-tab-icon">done</mat-icon>
                Aprobadas N1
            </ng-template>
        </mat-tab>

        <mat-tab  *ngIf="MUser.rolEntity.nameRole == 'Usuario estandarx' || MUser.rolEntity.nameRole == 'Usuario Aprobador N2x' || MUser.rolEntity.nameRole == 'Super Administradorx'">
            <ng-template mat-tab-label (click)="botonPresionado = 'aprobadasN2'">
                <mat-icon class="example-tab-icon">done</mat-icon>
                Aprobadas N2
            </ng-template>
        </mat-tab>

        <mat-tab  *ngIf="MUser.rolEntity.nameRole == 'Usuario estandarx'">
            <ng-template mat-tab-label (click)="botonPresionado = 'rechazadas'">
                <mat-icon class="example-tab-icon">clear</mat-icon>
                Rechazadas
            </ng-template>
        </mat-tab>
    </mat-tab-group>

    <div *ngIf="Approving">
        <div class="table-container">
            <mat-table [dataSource]="filtrarDatos(botonPresionado)" class="table" style="min-width: 800px;">
                <!-- Fecha envio -->
                <ng-container matColumnDef="fechaEnvio">
                    <mat-header-cell *matHeaderCellDef> Fecha reporte </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                         {{element.horusReportEntity.strStartDate.substring(0,10) }} 
                    </mat-cell>
                </ng-container>

                 <!-- Reporte -->
                 <ng-container matColumnDef="reporte">
                    <mat-header-cell *matHeaderCellDef> Reporte </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                         {{element.horusReportEntity.strReport}} 
                    </mat-cell>
                </ng-container>
    
                 <!-- Identifiacion  -->
                 <ng-container matColumnDef="identificacion">
                    <mat-header-cell *matHeaderCellDef> No. empleado</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horusReportEntity.userEntity.employeeCode}} </mat-cell>
                </ng-container>
    

                <!-- empleado  -->
                <ng-container matColumnDef="empleado">
                    <mat-header-cell *matHeaderCellDef> Empleado </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horusReportEntity.userEntity.nameUser+"
                        "+element.horusReportEntity.userEntity.surnameUser}} </mat-cell>
                </ng-container>
    
               
                <!-- Reporte Horas  -->
                <ng-container matColumnDef="horas">
                    <mat-header-cell *matHeaderCellDef> Reporte Horas </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horusReportEntity.countHours}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="horaInicio">
                    <mat-header-cell *matHeaderCellDef> Hora Inicio </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                         {{element.horusReportEntity.startTime}} 
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="horaFinal">
                    <mat-header-cell *matHeaderCellDef> Hora Final </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                         {{element.horusReportEntity.endTime}} 
                    </mat-cell>
                </ng-container>
    
                <!-- Estado  -->
                <ng-container *ngIf="botonPresionado == 'pendientes'"  matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button color="primary"  class="" (click)="openDialog(element)">Detalles<mat-icon>search</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
    
                <!-- Estado  -->
                <ng-container *ngIf="botonPresionado == 'aprobadasN1'  || botonPresionado == 'aprobadasN2'  ||botonPresionado == 'rechazadas'"
                    matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button 
                        mat-button class="button-stade"  
                        [ngStyle]="{'background-color': 'transparent'}" 
                        [title]="Aprobacion[element.state]">
                            <mat-icon  [ngStyle]="{'color': getColor(Aprobacion[element.state])}">
                                {{cargarIcono(Aprobacion[element.state])}}
                            </mat-icon>
    
                        </button>
                    </mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="columnasAMostrar"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnasAMostrar;"></mat-row>
            </mat-table>
        </div>
    </div>

    <div *ngIf="!Approving" style="text-align: -webkit-center; margin-top: 20px;">
        <h3 class="h3">Información no disponible, comuníquese con el administrador. </h3>
    </div>
</div>