.body{
    padding: 50px;
    margin-left: 60px;
}

mat-header-cell {
    background-color: #548CA8 !important;
    color: white; 
}

.title-form{
    width: 60%;
    height: 50px;
    color: white; 
    margin-bottom: 10px;
    background: linear-gradient(130deg,#548CA8 85%, transparent 15%);
}

.table{
    margin-top: 10px;
}

.button-review {
    background-color: #548CA8; 
    padding: 10px 10px;
    border: none; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer !important; 
  }

  .button-options{
    text-align: center;
    width: 80%;
    background-color: #548CA8; 
    padding: 20px 20px;
    border: none; 
    border-radius: 10px;
    color: white; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    cursor: pointer !important; 
    
  }

.example-full-width{
    display: flexbox;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;

}

.div-h3{
    width: 40%;
}

.h3{
    color: #034370; 
    background-color: #F0F0F0; 
    padding: 10px; 
    border-radius: 5px; 
}

.button-stade {
    padding: 5px 5px;
    border: none; 
    text-align: center !important; 
    text-decoration: none !important; 
    border-radius: 8px;
    display: inline-block !important;
    margin: auto !important; 
    cursor: pointer; 
  }
