<div class="body" style="margin-left: 70px;padding: 40px;margin-top: 10px;">

    <div>
        <h1 style="color: #61677A; font-size: 2em;"><strong>SAML</strong></h1>
        <hr class="divider">
    </div>

    <div class="col-md-12">
        <div style="margin-bottom: 35px;"></div>
        <div class="col-md-12">
          
        </div>
        
        <h1 style="color: #61677A; font-size: 1em;"><strong>SAML-SSO</strong></h1>
        <hr class="divider">
        <div class="col-md-12">
           
        </div>
        
        
    </div>

    <!--The content below is only a placeholder and can be replaced.-->

    <div style="background-color: white;">
        <div style="margin-bottom: 35px;"></div>
        <div class="wrapper">
            
           
        </div>

        
        <hr style="margin-top: 0px;margin-bottom: 25px;">
        

        <div class="wrapper">
           
           
        </div>
    </div> 
</div>