/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;

    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body {
        padding: 1rem 1.5rem; 
    }
}

.mat-grid-tile .mat-grid-tile-content {
    overflow: hidden;
}

.table-container {
    overflow: auto;
}

.mat-mdc-form-field-subscript-wrapper {
    min-height: 22px;
}

.mat-form-field-warned.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mdc-notched-outline__leading {
    border-color: #f49536 !important;
}

.mat-form-field-warned.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mdc-notched-outline__notch {
    border-color: #f49536 !important;
}

.mat-form-field-warned.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mdc-notched-outline__trailing {
    border-color: #f49536 !important;
}

.mat-mdc-form-field-warning {
    color: #f49536;
}

.mat-mdc-form-field-type-ngx-mat-file-input .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix,
.mat-mdc-form-field-type-ngx-mat-file-input .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix  {
    padding-top: unset;
    padding-bottom: unset; 
}

.mat-mdc-form-field-type-ngx-mat-file-input .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: unset;
    padding-bottom: unset; 
}

/* .mat-mdc-form-field-type-ngx-mat-file-input .mat-mdc-form-field-infix {
    min-height: unset;
} */

h2.mat-mdc-dialog-title {
    margin: 0;
}

.mat-mdc-tab-body-content {
    overflow: hidden !important;
    display: flex;
    flex-flow: column nowrap;
}