<div class="body viewmodule">
    <div>
        <h1 style="color: #61677A; font-size: 2em;"><strong>Aprobadores</strong></h1>
        <div class="div-em">
            <em>Encuentra información sobre los aprobadores del sistema. Haz clic en la opción de tu interes para obtener mas detalles</em>
            
        </div>
        <hr class="divider">
    </div>
    <br/>


    <!-- <div class="div-form">
        <mat-toolbar class="title-form">
            <h1>Aprobadores</h1>
        </mat-toolbar>
    </div> -->
    <div *ngIf="Approving">
        <div style="text-align: right; ">
            <button mat-raised-button color="primary" class="" (click)="crearUsuario()">Crear<mat-icon>library_add</mat-icon></button>
        </div>

        <div class="table-container">
            <mat-table [dataSource]="MApprover" class="table" style="min-width: 500px;">
                <!-- Nombre -->
                <ng-container matColumnDef="descripcion">
                    <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
                </ng-container>

                <!-- Nivel -->
                <ng-container matColumnDef="nivel">
                    <mat-header-cell *matHeaderCellDef> Nivel </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.nivel}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button style="color:green"  (click)="openDialog(element.idAprobador, element.descripcion,element.nivel)"
                            class="">Editar <mat-icon>edit_note</mat-icon></button>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button style="color:red" class="">Eliminar <mat-icon>delete</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnasAMostrar.concat('editar','eliminar')"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnasAMostrar.concat('editar','eliminar');"></mat-row>
            </mat-table>
        </div>
    </div>
    <div *ngIf="!Approving" style="text-align: -webkit-center; margin-top: 20px;">
        <h3 class="h3">Información no disponible, comuníquese con el administrador. </h3>
    </div>

</div>