<div class="body">
    <div>
        <h1 style="color: #61677A; font-size: 2em;"><strong>Paises</strong></h1>
        <div class="div-em">
            <em>Encuentra informacion sobre los paises .Haz clic en el botón de tu interes para obtener mas acciones</em>
            
        </div>
        <hr class="divider">
    </div>
    <br/>

    <!-- <div class="div-form">
        <mat-toolbar class="title-form">
            <h1>Paises</h1>
        </mat-toolbar>
    </div> -->
    <div *ngIf="Approving">
        <div style="text-align: right; ">
            <button mat-raised-button class="button-options" (click)="crearUsuario()">Crear</button>
        </div>

        <div>
            <mat-table [dataSource]="MCountry" class="table">

                <!-- Nombre -->
                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.nameCountry}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button (click)="openDialog(element.idCounty, element.nameCountry)"
                            class="button-review">Editar<mat-icon>edit_note</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button class="button-delete">Eliminar<mat-icon>delete</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnasAMostrar.concat('editar','eliminar')"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnasAMostrar.concat('editar','eliminar');"></mat-row>
            </mat-table>
        </div>
    </div>

    <div *ngIf="!Approving" style="text-align: -webkit-center; margin-top: 20px;">
        <h3 class="h3">Información no disponible, comuníquese con el administrador. </h3>
    </div>

</div>